In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stat

In [10]:
df= pd.read_csv('customer_dbase_sel.csv')
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 30 columns):
custid           5000 non-null object
gender           5000 non-null object
age              5000 non-null int64
age_cat          5000 non-null object
debtinc          5000 non-null float64
card             5000 non-null object
carditems        5000 non-null int64
cardspent        5000 non-null float64
cardtype         5000 non-null object
creddebt         5000 non-null float64
commute          5000 non-null object
commutetime      4998 non-null float64
card2            5000 non-null object
card2items       5000 non-null int64
card2spent       5000 non-null float64
card2type        5000 non-null object
marital          5000 non-null object
homeown          5000 non-null object
hometype         5000 non-null object
cars             5000 non-null int64
carown           4508 non-null object
region           5000 non-null object
ed_cat           5000 non-null object
ed_years         5000 non-null int64
job_cat          5000 non-null object
employ_years     5000 non-null int64
emp_cat          5000 non-null object
retire           5000 non-null object
annual_income    5000 non-null float64
inc_cat          5000 non-null object
dtypes: float64(6), int64(6), object(18)
memory usage: 1.1+ MB

,custid,gender,age,age_cat,debtinc,card,carditems,cardspent,cardtype,creddebt,...,carown,region,ed_cat,ed_years,job_cat,employ_years,emp_cat,retire,annual_income,inc_cat
0,3964-QJWTRG-NPN,Female,20,18-24,11.1,Mastercard,5,81.66,None,1.20,...,Own,Zone 1,Some college,15,Managerial and Professional,0,Less than 2,No,31000.0,$25 - $49
1,0648-AIPJSP-UVM,Male,22,18-24,18.6,Visa,5,42.60,Other,1.22,...,Own,Zone 5,College degree,17,Sales and Office,0,Less than 2,No,15000.0,Under $25
2,5195-TLUDJE-HVO,Female,67,>65,9.9,Visa,9,184.22,None,0.93,...,Own,Zone 3,High school degree,14,Sales and Office,16,More than 15,No,35000.0,$25 - $49
3,4459-VLPQUH-3OL,Male,23,18-24,5.7,Visa,17,340.99,None,0.02,...,Own,Zone 4,Some college,16,Sales and Office,0,Less than 2,No,20000.0,Under $25
4,8158-SMTQFB-CNO,Male,26,25-34,1.7,Discover,8,255.10,Gold,0.21,...,Lease,Zone 2,Some college,16,Sales and Office,1,Less than 2,No,23000.0,Under $25
5,9662-FUSYIM-1IV,Male,64,50-64,5.6,Visa,11,228.27,Other,1.06,...,NaN,Zone 4,College degree,17,Service,22,More than 15,No,107000.0,$75 - $124
6,7432-QKQFJJ-K72,Female,52,50-64,1.9,Other,20,822.32,Platinum,0.50,...,Own,Zone 2,High school degree,14,Managerial and Professional,10,6 to 10,No,77000.0,$75 - $124
7,8959-RZWRHU-ST8,Female,44,35-49,14.4,American Express,6,592.70,None,5.95,...,Own,Zone 3,Some college,16,Managerial and Professional,11,11 to 15,No,97000.0,$75 - $124
8,9124-DZALHM-S6I,Female,66,>65,2.6,Mastercard,12,326.59,Other,0.10,...,Own,Zone 2,High school degree,12,Managerial and Professional,15,11 to 15,Yes,16000.0,Under $25
9,3512-MUWBGY-52X,Male,47,35-49,4.1,Other,11,199.64,Other,1.77,...,Own,Zone 2,Did not complete high school,11,"Operation, Fabrication, General Labor",19,More than 15,No,84000.0,$75 - $124
10,5621-QSZPSF-NF2,Female,59,50-64,8.6,Discover,11,488.97,Platinum,1.36,...,Own,Zone 4,College degree,19,Managerial and Professional,8,6 to 10,No,47000.0,$25 - $49
11,8241-PWPONH-62O,Female,33,25-34,0.9,Mastercard,14,338.26,Gold,0.13,...,Own,Zone 2,Did not complete high school,8,Sales and Office,4,2 to 5,No,19000.0,Under $25
12,8795-FYOXCT-P09,Male,44,35-49,2.8,Discover,12,534.36,Other,1.25,...,Own,Zone 5,Did not complete high school,10,Managerial and Professional,12,11 to 15,No,73000.0,$50 - $74
13,1705-NMIQNO-IC4,Male,58,50-64,10.5,Discover,10,593.50,Platinum,1.92,...,NaN,Zone 3,College degree,18,Managerial and Professional,3,2 to 5,No,63000.0,$50 - $74
14,9205-PAZEXY-90Q,Female,72,>65,9.8,Mastercard,12,233.17,Gold,1.28,...,Own,Zone 2,Post-undergraduate degree,20,Agricultural and Natural Resources,27,More than 15,Yes,17000.0,Under $25
15,4225-PZZDIY-IBH,Female,66,>65,9.3,Mastercard,9,297.47,Platinum,0.93,...,Own,Zone 3,High school degree,13,"Operation, Fabrication, General Labor",31,More than 15,Yes,23000.0,Under $25
16,0758-EQEGIQ-3OF,Female,57,50-64,9.5,Discover,14,305.94,None,1.80,...,Own,Zone 1,College degree,17,Agricultural and Natural Resources,24,More than 15,No,171000.0,$125+
17,0649-TBFJFL-QU4,Male,63,50-64,10.7,Mastercard,10,495.75,Platinum,13.11,...,Own,Zone 5,High school degree,14,"Operation, Fabrication, General Labor",29,More than 15,No,424000.0,$125+
18,2228-KOLOPU-FY3,Female,28,25-34,4.8,Visa,17,442.09,Gold,0.19,...,NaN,Zone 5,Did not complete high school,11,Managerial and Professional,4,2 to 5,No,23000.0,Under $25
19,3853-NVDCOJ-TIN,Female,78,>65,15.2,Visa,1,8.11,Platinum,0.69,...,Own,Zone 1,Some college,16,Managerial and Professional,10,6 to 10,Yes,22000.0,Under $25
20,0765-UXAFYM-PDR,Male,61,50-64,10.1,American Express,8,271.98,Other,1.23,...,Lease,Zone 3,Some college,16,Managerial and Professional,4,2 to 5,No,35000.0,$25 - $49
21,9937-SFPLRK-H9Y,Male,70,>65,9.3,American Express,8,267.71,None,1.20,...,Own,Zone 2,College degree,17,Sales and Office,2,2 to 5,No,28000.0,$25 - $49
22,0712-WQXYVV-HUP,Male,61,50-64,21.5,American Express,10,245.03,None,0.57,...,Own,Zone 4,High school degree,14,"Operation, Fabrication, General Labor",18,More than 15,Yes,12000.0,Under $25
23,6441-FJUWZQ-7G8,Male,37,35-49,15.7,Other,17,556.61,None,3.32,...,NaN,Zone 3,Did not complete high school,11,Managerial and Professional,2,2 to 5,No,29000.0,$25 - $49
24,7634-AVNEXZ-7AG,Male,39,35-49,11.3,Discover,12,453.74,Other,4.69,...,Own,Zone 1,High school degree,12,Managerial and Professional,5,2 to 5,No,130000.0,$125+
25,2041-PNMGHX-TXJ,Female,73,>65,14.8,Visa,6,212.67,Gold,1.16,...,Own,Zone 4,High school degree,14,Service,28,More than 15,Yes,69000.0,$50 - $74
26,4626-BQZAUJ-V9K,Female,26,25-34,11.7,Discover,14,447.67,None,1.30,...,Lease,Zone 5,Some college,16,Sales and Office,0,Less than 2,No,24000.0,Under $25
27,2969-ODPCDX-5DC,Female,24,18-24,14.0,Discover,11,279.95,None,1.39,...,NaN,Zone 2,College degree,17,"Operation, Fabrication, General Labor",1,Less than 2,No,29000.0,$25 - $49
28,4974-FUBHDF-Z7L,Female,77,>65,10.2,Visa,10,194.95,None,0.26,...,Own,Zone 3,Some college,15,Managerial and Professional,26,More than 15,Yes,11000.0,Under $25
29,2525-OSULNV-0KS,Male,36,35-49,15.5,American Express,11,300.97,None,0.41,...,Own,Zone 5,College degree,19,Managerial and Professional,3,2 to 5,No,30000.0,$25 - $49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,6233-HYDJPL-VLO,Female,47,35-49,19.7,Discover,3,31.91,None,4.21,...,Lease,Zone 1,High school degree,12,Sales and Office,9,6 to 10,No,45000.0,$25 - $49
4971,5646-BOZIOF-3B6,Male,30,25-34,15.8,Mastercard,7,133.37,None,0.36,...,Own,Zone 5,Post-undergraduate degree,21,Sales and Office,0,Less than 2,No,25000.0,$25 - $49
4972,0225-LFNXNQ-CBB,Female,37,35-49,10.9,Visa,12,257.04,None,0.96,...,Lease,Zone 5,High school degree,14,"Operation, Fabrication, General Labor",12,11 to 15,No,30000.0,$25 - $49
4973,3517-FHPTRR-Q9L,Male,28,25-34,11.6,Mastercard,14,729.49,Platinum,0.79,...,Own,Zone 5,Some college,15,Service,3,2 to 5,No,18000.0,Under $25
4974,3625-EIKFES-W21,Male,53,50-64,11.7,Visa,6,172.31,Platinum,4.59,...,Own,Zone 2,High school degree,12,Managerial and Professional,16,More than 15,No,73000.0,$50 - $74
4975,5097-BJPHAE-TYU,Female,41,35-49,6.9,Other,14,167.17,Gold,0.09,...,Lease,Zone 5,Did not complete high school,10,Sales and Office,1,Less than 2,No,18000.0,Under $25
4976,8893-JSYRMQ-3VA,Male,22,18-24,6.4,Mastercard,4,64.03,Other,0.28,...,Own,Zone 4,Did not complete high school,11,"Operation, Fabrication, General Labor",3,2 to 5,No,17000.0,Under $25
4977,1802-COVRXB-K3B,Male,71,>65,11.1,Mastercard,6,147.93,Other,0.72,...,Own,Zone 2,Did not complete high school,10,Sales and Office,11,11 to 15,No,34000.0,$25 - $49
4978,0392-XGGPFB-SFH,Male,33,25-34,15.4,Discover,7,226.09,None,1.44,...,Own,Zone 5,Some college,15,Sales and Office,0,Less than 2,No,30000.0,$25 - $49
4979,0388-KHMXUA-ZCP,Male,59,50-64,13.0,Mastercard,3,39.40,None,1.39,...,Own,Zone 1,Did not complete high school,9,Managerial and Professional,12,11 to 15,No,45000.0,$25 - $49
4980,0908-ERJHRU-CFL,Female,61,50-64,7.1,Mastercard,11,225.43,Other,0.53,...,Own,Zone 3,College degree,17,Sales and Office,15,11 to 15,No,55000.0,$50 - $74
4981,0455-ZMAKZN-6ID,Male,58,50-64,4.7,Mastercard,12,245.26,Platinum,1.20,...,Own,Zone 2,Some college,15,Sales and Office,4,2 to 5,No,42000.0,$25 - $49
4982,3282-RFORQB-5Z6,Male,30,25-34,7.6,American Express,17,520.42,Platinum,0.33,...,Own,Zone 1,College degree,17,Managerial and Professional,2,2 to 5,No,30000.0,$25 - $49
4983,0997-UKGSUF-SRI,Female,30,25-34,1.6,Discover,7,345.79,Gold,0.57,...,Own,Zone 4,Post-undergraduate degree,20,Sales and Office,1,Less than 2,No,71000.0,$50 - $74
4984,3219-ODPZKT-U6P,Male,22,18-24,11.7,Other,8,224.69,Platinum,0.60,...,Lease,Zone 1,High school degree,12,Sales and Office,0,Less than 2,No,16000.0,Under $25
4985,3883-BTASOR-CD9,Female,49,35-49,13.8,Discover,9,244.34,Gold,1.03,...,Lease,Zone 5,Some college,15,Sales and Office,5,2 to 5,No,25000.0,$25 - $49
4986,4111-ARMZIV-2MI,Male,61,50-64,18.5,Visa,14,327.06,Gold,0.45,...,Lease,Zone 2,Some college,15,Sales and Office,2,2 to 5,No,17000.0,Under $25
4987,6431-FGVIYD-FCN,Male,79,>65,2.4,Discover,11,198.06,Platinum,0.09,...,Lease,Zone 4,College degree,17,Sales and Office,3,2 to 5,Yes,15000.0,Under $25
4988,3192-STGTEL-D14,Female,26,25-34,9.3,American Express,11,440.75,Platinum,2.09,...,Own,Zone 3,Post-undergraduate degree,21,"Precision Production, Craft, Repair",0,Less than 2,No,89000.0,$75 - $124
4989,6841-FBQILD-2CH,Female,59,50-64,14.2,Mastercard,10,285.67,None,3.61,...,Own,Zone 2,College degree,18,Sales and Office,9,6 to 10,No,75000.0,$75 - $124
4990,6309-HRNBPZ-565,Female,55,50-64,0.5,American Express,9,888.83,Gold,0.11,...,NaN,Zone 4,Some college,15,Sales and Office,10,6 to 10,No,49000.0,$25 - $49
4991,8563-YGTRBK-25I,Male,56,50-64,2.1,Discover,7,227.25,Other,0.22,...,Own,Zone 3,College degree,18,Sales and Office,2,2 to 5,No,60000.0,$50 - $74
4992,1973-VJDGJA-TQ6,Female,35,35-49,11.3,Mastercard,16,430.80,Platinum,3.25,...,Own,Zone 3,Some college,15,Sales and Office,1,Less than 2,No,53000.0,$50 - $74
4993,3675-GZFGOT-QJN,Male,68,>65,8.0,American Express,11,872.11,Platinum,7.93,...,Own,Zone 2,Did not complete high school,10,Managerial and Professional,24,More than 15,No,196000.0,$125+
4994,4699-LEPCCE-3UD,Male,51,50-64,15.0,Mastercard,6,210.81,Other,3.34,...,Own,Zone 3,High school degree,14,Managerial and Professional,6,6 to 10,No,83000.0,$75 - $124
4995,8485-LLUICH-CVV,Male,75,>65,10.8,American Express,11,884.08,Platinum,3.56,...,Own,Zone 4,College degree,17,Managerial and Professional,24,More than 15,No,108000.0,$75 - $124
4996,9325-URAAUT-7FA,Male,47,35-49,10.8,Mastercard,9,381.35,None,5.02,...,Own,Zone 1,College degree,19,Sales and Office,3,2 to 5,No,189000.0,$125+
4997,8027-EXDZBF-OGR,Female,41,35-49,6.2,Mastercard,7,269.72,Platinum,2.27,...,Own,Zone 3,Did not complete high school,10,"Precision Production, Craft, Repair",20,More than 15,No,77000.0,$75 - $124
4998,2041-XDTDGM-LE8,Female,45,35-49,13.4,Mastercard,9,284.38,Platinum,0.81,...,Own,Zone 4,College degree,17,Sales and Office,2,2 to 5,No,62000.0,$50 - $74
4999,8823-USCWJQ-P9J,Female,51,50-64,7.1,Discover,10,245.65,None,1.59,...,Own,Zone 5,High school degree,14,"Precision Production, Craft, Repair",17,More than 15,No,75000.0,$75 - $124

# Q1

In [14]:
#amount spent on the primary credit card last month
#creating a dataframe that contains only gender and cardspent colums
cardspent= df[['gender','cardspent']]
cardspent.head()

   gender  cardspent
0  Female      81.66
1    Male      42.60
2  Female     184.22
3    Male     340.99
4    Male     255.10

In [30]:
#creating a dataframe for female and male separately only
female_dataframe= cardspent.loc[cardspent['gender']=='Female']
#female_dataframe
male_dataframe= cardspent.loc[cardspent['gender']=='Male']
#male_dataframe

In [58]:
#converting male and female dataframes to numpy array
female_array= female_dataframe['cardspent'].to_numpy()
male_array= male_dataframe['cardspent'].to_numpy()
print(female_array, male_array)
type(female_array)

[ 81.66 184.22 822.32 ... 269.72 284.38 245.65] [ 42.6  340.99 255.1  ... 210.81 884.08 381.35]

numpy.ndarray

Bootstrapping means resampling

In [1]:
sample= 50
group= 500
n_female= len(female_array)
n_male= len(male_array)
female_avg= []
male_avg =[]
for i in range(group):
    female_cardspent_avg= np.mean(female_array[np.random.randint(n_female,size= 500)])
    male_cardspent_avg= np.mean(male_array[np.random.randint(n_male,size=500)])
    female_avg.append(female_cardspent_avg)
    male_avg.append(male_cardspent_avg)
#print(female_avg)
#print(n_female)

NameError: name 'female_array' is not defined

# Q2 ANOVA